<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour it!{{else}}Puke It{{/if}}
    </button>

    <button class="delete-burger" data-id="{{id}}">Delete</button>
</li>